<div class="add-event">
    <span class="add-event__exit">🞩</span>
    <input class="add-event__input" type="text" placeholder="Событие">
    <input class="add-event__input" type="text" placeholder="День, месяц, год">
    <input class="add-event__input" type="text" placeholder="Имена участников">
    <textarea
        class="add-event__description"
        type="text"
        rows="8"
        placeholder="Описание"
    ></textarea>
    <button class="add-event__button">Готово</button>
    <button class="add-event__button">Удалить</button>
</div>
